# Ignore all data except sim_raw
data/raw/ton_raw/
data/processed/
data/splits/

# Ignore logs and data files
*.csv
*.log
*.parquet

# Python stuff
__pycache__/
.ipynb_checkpoints/
*.pyc

# OS junk
.DS_Store
Thumbs.db